body{
    position: relative;
}
.change-password-form{
   display: block; 
   position: absolute;
   border-radius: 15px;
   box-shadow: 0px 0px 18px 10px rgb(239, 236, 236);
   padding:20px 20px 20px 20px;
   top:156px;
   left:508px;
}
.email-id{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.email-id-input{
    position: absolute;
    border-radius: 10px;
    margin-left: 98px;
    padding-left: 10px;
    font-size: 18px;
}
.email-id-input::placeholder{
    font-size: 16px;
}
.password{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.password-input{
    border-radius: 10px;
    margin-left: 76px;
    padding-left: 10px;
    font-size: 18px;
}
.password-input::placeholder{
    font-size: 16px;
}
.retype-password{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.retype-password-input{
    border-radius: 10px;
    margin-left: 3px;
    padding-left: 10px;
    font-size: 18px;
}
.retype-password-input::placeholder{
    font-size: 16px;
}
.submit-btn{
    position: relative;
    left: 188px;
    padding: 7px 7px 7px 7px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
}
.submit-btn:hover{
    cursor:pointer;
    color:white;
    background-color: black;
}
#back-btn{
    position:absolute;
    bottom:20px;
    left:735px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: whitesmoke;
}
#back-btn:hover{
    cursor:pointer;
    color:white;
    background-color: black;
}
.line-height{
    line-height: 1;
}
.line-height-1{
    line-height: 0.65;
}